<div class = "">
  <div class="navbar-header">
    <%= link_to "Wikinimous", articles_path, class: "navbar-brand" %>
  </div>

  <div class="navbar-collapse">
    <ul class="nav navbar-right">
      <li>
        <h4><%= link_to "New article", new_article_path %></h4>
      </li>
    </ul>
  </div>
</div>
